<html>
    <head>
        <title>Django Myblog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Ajay's Blog</a></h1>
        </div>
{% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
			<p>Click on below link to directly go to Main Page. ---><a href="https://ajaypython1.pythonanywhere.com/">Ajay Python Anywhere URL Link</a></p> 
        </div>
	{% endfor %}
    </body>
</html>